<h2><%= @greenspace.name %></h2>
<br><br>

<h4>Description: </h4>

<p><%= @greenspace.description %></p>

<h4>Reviews: </h4>

<%= @greenspace.reviews.each do |review| %>
  <li>
    <%= review.thoughts %>
    <li>
      <%= review.rating %>
    </li>
  </li>
<% end %>

  <%= link_to "Review #{@greenspace.name}", new_greenspace_review_path(@greenspace) %>
